main {
    background-color: antiquewhite;
}

main div {
    padding-bottom: 2rem;
}

h1,
h4 {
    margin: 1rem;
}

table {
    border-collapse: collapse;
    border: 2px solid gray;
    background-color: white;
}

th,
td {
    padding: 1rem;
    border: 1px solid lightgray;
}