/* Coloring Guide

Purple: #5a57dd
Less-saturated Purple: #7e64eb
Dark Navy Blue: #09395c
Navy Blue: #205787
Light Navy Blue: #699ceb

*/

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  font-size: 1.6rem;
  margin: 0;
}

/* Typographical Styles */

a {
  text-decoration: none;
}

p {
  color: black;
  margin: 0;
}

/* Utility Classes */

.flex-container {
  display: flex;
}

.spacer {
  width: 5px;
}

.card {
  background-color: antiquewhite;
}

.box-shadow {
  box-shadow: 10px 10px 10px #7e64eb;
}

/* Header */

header {
  background-color: #699ceb;
  align-items: center;
  padding: 1rem;
  justify-content: space-between;
  border-radius: 0 0 10px 10px;
}

header p {
  color: #09395c;
}

.logo {
  margin-left: 2rem;
}

header a div {
  align-items: center;
}

header a div p {
    color: #09395c;
    font-family: monospace;
    font-weight: bold;
    letter-spacing: 0.01rem;
    line-height: 1.9rem;
    font-size: 1.75rem;
    margin: 0;
}

nav {
  width: 25vw;
  height: 60px;
  align-items: center;
  justify-content: space-around;
}


@media (max-width: 1200px) { 
  /* 
    This is the only responsive thing I'll put in the non-responsive. 
    Makes it better imo 
  */
  nav {
    flex-direction: column;
  }

  nav p {
    line-height: 2rem;
  }
}


header img {
  height: 50px;
}

/* Footer */

