html {
    box-sizing: border-box;
    font-size: 62.5%;
}

*,
*::after,
*::before {
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    font-size: 1.6rem;
    margin: 0;
}

/* Typographical Styles */

p {
    margin: 0;
    font-size: 2rem;
}

/* Utility Classes */

.flex-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.no-underline {
    text-decoration: none;
}

/* Header */

header.flex-container {
    font-size: 2rem;
    background-color:rgb(122, 112, 182);
    padding: 1rem;
}

header a,
header a:visited,
header a:link {
    color: #0a395b;
}

header p {
    font-size: 2.4rem;
}

header img {
    height: auto;
    width: 4vw;
    padding: 0.5rem;
}

header a.no-underline {
    justify-self: start;
}

header div.links {
    width: 30vw;
}

div.flex-container p {
    color: #0a395b;
    font-family: monospace;
    font-weight: bold;
    letter-spacing: 0.01rem;
    line-height: 2.5rem;
}

/* Footer */

footer {
    background-image: url(../images/glacier-galaxy.jpg);
    background-size: cover;
    background-position: left bottom 47%;
}

footer.flex-container {
    flex-direction: column;
}

footer p {
    color: #0a395b;
}

footer a,
footer a:visited,
footer a:link {
    color: crimson;
}