html {
    box-sizing: border-box;
    font-size: 62.5%;
}

*,
*::after,
*::before {
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    font-size: 1.6rem;
    margin: 0;
}

/* Typographical Styles */

p {
    margin: 0;
    font-size: 2rem;
}

/* Utility Classes */

.flex-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.no-underline {
    text-decoration: none;
}

/* Header */

header {
    font-size: 2rem;
    background-image: url(../images/glacier-galaxy.jpg);
    background-size: cover;
    background-position: left bottom 47%;
}

header a,
header a:visited,
header a:link {
    color: lightsteelblue;

}
header p {
    font-size: 2.4rem;
}

header img {
    height: auto;
    width: 4vw;
    padding: 0.5rem;
}

div.flex-container p {
    color: #0a395b;
}

/* Footer */

