main {
    background-color: antiquewhite;
}

main div {
    padding-bottom: 2rem;
}

h1,
h3,
h4 {
    margin: 1rem;
}

h3 {
    margin-bottom: 2rem;
}

table {
    border-collapse: collapse;
    border: 2px solid gray;
    background-color: white;
    margin-bottom: 2rem;
}

th,
td {
    padding: 1rem;
    border: 1px solid lightgray;
}

thead tr th {
    font-weight: bold;
}

th {
    font-weight: normal;
}

thead {
    background-color: lightsteelblue;
}